@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO SPA-CONNECT</h1>
    <p class="lead">Manufacturing Portal for Router Changes, Change Tracking and Router Releases</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Work Instructions</h3>
        <p><a class="btn btn-default btn-lg btn-block" href="http://localhost:57514/Program/Index">Start &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Industrial Engineers (Only)</h3>
        <p><a class="btn btn-default btn-lg btn-block" href="http://localhost:57514/Program/Index">Start &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>CMO (Only)</h3>
        <p><a class="btn btn-default btn-lg btn-block" href="http://localhost:57514/CMO/Index">Start &raquo;</a></p>
    </div>
</div>