@model SpaConnect.Models.Assy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Assembly</h2>

<h3>Are you sure you want to delete this assembly?</h3>
<div>
    <div>
        <h4 style="color:blue">@Html.DisplayFor(model => model.assyName)</h4><br />
    </div>

    @using (Html.BeginForm("Remove", "Assembly"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Details", new { id = Model.programID }, new { @class = "btn btn-primary" })
        </div>

        @Html.HiddenFor(m => m.ID);
    }
</div>
