@model IEnumerable<SpaConnect.Models.Assy>

@{
    ViewBag.Title = "ASSEMBLIES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ASSEMBLIES</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ASSEMBLY</th>
            <th>MODIFY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var val in Model)
        {
        <tr>
            <td class="col-sm-10">@Html.ActionLink(val.assyName, "Index", "Operation", new { id = val.ID }, null)</td>
            <td class="col-sm-2">
                @Html.ActionLink("New", "New", "Assembly", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Edit", "Edit", "Assembly", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Result", "Operation", new { id = val.ID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>      
        }
    </tbody>
</table>
