
@{
    ViewBag.Title = "Release";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dismissible alert-success">
    <strong>ROUTER HAS BEEN RELEASED</strong> 
</div>

@Html.ActionLink("BACK TO CCB", "Index", "CMO", new { @class = "btn btn-primary btn" })

